@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --white: #fff;
  --black: #000;
  --grey: #adb5bd;
  --light-blue: #90e0ef;
  --overlay: rgba(0, 0, 0, 0.4);
  --box-shadow-black: 0px 7px 20px 0px rgba(0,0,0,0.5);
  --box-shadow-blue: 7px 10px 65px 13px rgba(36, 124, 161, 0.72);
  --primary-color: #03045e;
  --secondary-color: #0077b6;
  --gradient-page: radial-gradient(circle, var(--secondary-color), var(--primary-color));
  --gradient-event: radial-gradient(circle at bottom right, var(--secondary-color), var(--primary-color));
}

* {
  box-sizing: border-box;
}

i {
  color: var(--white);
}

a {
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
}

.front-page {
  position: relative;
  background-image: url('./images/essths.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: calc(100vw - 17px);
}
.front-page::before {
  content: '';
  position: absolute;
  background: var(--overlay);
  height: 100vh;
  width: calc(100vw - 17px);
}

.header {
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  z-index: 10;
}

.header.scroll {
  background-color: var(--white);
  box-shadow: var(--box-shadow-black);
  transition: all 0.3s ease;
}

.header.scroll .logo-first{
  background-image: url('./images/logo-blue.png');
}

.header.scroll .nav {
  color: var(--black);
}

.header.scroll .input {
  border-radius: 0;
  border-bottom: 1px solid var(--grey);
}

.logo-first{
  position: absolute;
  background-image: url('./images/logo-white.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
  top: 20px;
  left: 0;
  height: 70px;
  width: 150px;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 4px;
}

.logo-first:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}

.nav {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 80vw;
}

.nav .item {
  color: var(--white);
  margin: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  transition: all 1s ease;
}

.nav .item:hover {
  background-color: var(--grey);
  transition: all 1s ease;
}

.item.about:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white);
  margin: 8px 0 0 0;
  box-shadow: var(--box-shadow-black);
  z-index: 1;
  padding: 0 10px;
  border-radius: 6px;
  animation: dropdown 0.5s ease;
}
.dropdown-content a:hover {
  background-color: var(--grey);
  transition: all 0.3s ease;
}

.item a {
  float: left;
  color: var(--black);
  text-decoration: none;
  margin: 5px 0;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s ease;
}

.item.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.item.search input {
  background-color: var(--white);
  border: 0;
  border-radius: 3px;
  font-size: 18px;
  padding: 15px;
  height: 40px;
  width: 300px;
  display: none;
  margin: 0 10px;
}
input:focus {
  outline: none;
}

.item.search.active:hover {
  background-color: inherit;
}

.item.search.active {
  display: flex;
}
.item.search.active input {
  display: block;
}

.item.search.active .search-icon {
  display: none;
}

.welcome-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  margin-top: 100px;
  z-index: 0;
}

.welcome-container h6 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: lighter;
}

.button {
  background-color: var(--secondary-color);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 5px;
  font-family: inherit;
  font-size: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.button.first:hover {
  box-shadow: var(--box-shadow-blue);
}

.middle-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: var(--gradient-page);
  color: var(--white);
  padding: 0 30px;
  width: calc(100vw - 17px);
}

.who-we-are {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px;
  margin: 20px 0 0 0;
}

.who-we-are .logo-middle {
  background-image: url('./images/logo-white.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
  height: 100px;
  min-height: 150px;
  width: 400px;
}
.who-we-are p {
  font-size: 20px;
  width: 80%;
  margin: 0;
}


.middle-page h3 {
  font-size: 40px;
}

.slider {
  position: relative;
  height: 350px;
  width: 100vw;
}

.slide {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: opacity 0.8s ease;
  opacity: 0;

}

.slide.active {
  transform: translateX(0);
  transition: opacity 0.8s ease;
  opacity: 1;
}

.btn {
  position: absolute;
  background-color: var(--black);
  color: var(--white);
  height: 80px;
  width: 100px;
  top: 50%;
  border: none;
  font-size: 50px;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0;
  border-radius: 0 10px 10px 0;
  transition: all 0.3s ease;
  background-color: var(--overlay);
}

.btn:hover {
  background-color: var(--black);

  transition: all 0.3s ease;
}

.btn.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.progress-steps {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
}

.progress-steps .step {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid var(--light-blue);
  cursor: pointer;
}

.progress-steps .step.active {
background-color: var(--light-blue);
}
.progress-steps .step:hover {
  background-color: var(--light-blue);
}

.events-wrapper {
display: flex;
justify-content: flex-start;
flex-wrap: wrap;
margin: 0 auto;
}

.event {
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-image: var(--gradient-event);
  width: 407px;
  height: 350px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.event-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70%;
  cursor: pointer;
  transition: transform 0.3s ease;

}

.event i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 65px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;

}

.event-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.event-img:hover i{
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.event h3 {
  font-size: 30px;
  margin: 5px 0 0;
  padding: 0 5px 0;
}

.event h6 {
  font-size: 15px;
  margin: 5px;
  padding: 0 5px 0;
}

.button.middle {
  margin: 10px;
  max-height: 50px;
}
  
.button.middle:hover {
  background-color: var(--white);
  color: var(--secondary-color);
}

.middle-page .find-us {
  font-size: 15px;
  margin-bottom:40px;
}

.last-page {
  position: relative;
  background-image: url('./images/essths.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: calc(100vw - 17px);
  color: var(--white);
  z-index: 1;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;
  z-index: 1;
}

.last-page::before {
  content: '';
  position: absolute;
  background: var(--overlay);
  width: calc(100vw - 17px);
  height: 100%;
  z-index: -1;
}

.contact h6 {
  font-size: 15px;
  font-weight: lighter;
  margin: 20px;
}

.contact span {
  font-size: 30px;
}

.button.contact {
  font-size: 20px;
  margin: 0;
}
  
.button.contact:hover {
  background-color: var(--white);
  color: var(--secondary-color);
}

.footer {
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  padding: 20px;
}

.bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px; 
}

.bottom-nav .item {
  margin: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: var(--white);
}

.bottom-nav .item:hover {
  color: var(--grey);
  transition: color 0.3s ease;
}

.footer h6 {
  color: var(--white);
  font-size: 10px;
  letter-spacing: 3px;
  font-weight: lighter;
}

@media (max-width: 970px) {
  .contact {
    flex-direction: column;
  }
}

@keyframes dropdown {
  0% { 
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}